.search {
  width: 100%;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 0;
  padding-left: 4px;
  position: relative;
  color: #fff;
  z-index: 1100;
  margin-left: auto;
  padding-right: 5px;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 16px;
  background: none;
  color: rgb(189, 189, 189);
}

.search input::placeholder {
  color: rgb(189, 189, 189);
}

.search .MuiSvgIcon-root {
  color: rgb(189, 189, 189);
}
.search:focus {
  border-bottom: 2px solid #01d277;
}

.search__results {
  width: 100%;
  max-width: 1000px;
  height: 248px;
  background: rgba(0, 0, 0, 0.675);
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1100;
  overflow-y: scroll;
  display: none;
}

.search__results::-webkit-scrollbar {
  display: none;
}

.search__box {
  padding: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.568);
  transition: 0.3s;
}

.search__box:hover {
  background: #01d277;
  cursor: pointer;
  color: #000;
}

.search__results .link {
  text-decoration: none;
}

.search__show {
  display: block;
  transition: 0.4s;
}

@media (max-width: 895px) {
  .search {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .search input {
    font-size: 13px;
  }

  .search .select select {
    padding: 0;
  }
}

@media (max-width: 350px) {
  .search .select select {
    padding: 0;
  }
}

.layer_3 {
  position: absolute;
  top: 0;
  left: 0;
}

.layer__index {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.568);
  width: 100%;
  height: 100vh;
}

.select select {
  padding: 8px;
  border-radius: 5px;
  background: none;
  border: none;
  color: #fff;
  font-family: Lato;
  font-weight: 700;
  cursor: pointer;
}

.select select:focus,
.select select:active {
  outline: #01d277;
  color: #01d277;
}

.select select option {
  color: #000;
}

.select select option:hover {
  background: #01d277;
}
