.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
    margin:10px;
    margin-top: -1rem;
}

@media (max-width:895px) {
    .App{
        height: auto;
        background: rgba(0, 0, 0, 0.70);
        margin-top: 0;
    }
}

@media (max-width:550px) {
    .App{
       margin: 0;
    }
}

